<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false"
         convertDeprecationsToExceptions="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true"
         convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false"
         stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd">
    <logging/>
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory suffix=".php">./test/</directory>
            <exclude>./test/src/Provider/TestApple.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>
